.f{
    background-color: whitesmoke;
 color: black;
        font-size: 20px;
    margin-right: 10px
}

body{
    background-color: rgb(43, 42, 43);
}
 h1,.jj{
    color: white;
 }
 h2{
    color: white;
 }
 .wyda{
    background-color: whitesmoke;
color: black;
    font-size: 20px;
margin-left: 550px

;
}
.footer{
    margin-top: 550px;
    color: aliceblue;
    background-color: gray;
    position: fixed;
    
}
.wyde{
    background-color: whitesmoke;
color: black;
    font-size: 20px;
margin-left: 550px

}
.pare{
    position: fixed;
    color: white;
    font-size: large;
    margin-left: 555px;
}
.wy{
    background-color: whitesmoke;
color: black;
    font-size: 20px;
margin-left: 550px

}
.open{
    font-size: large;
    color: aliceblue;
    margin-left: 555px;
}
.wydo{
    background-color: whitesmoke;
color: black;
    font-size: 20px;
margin-left: 550px
}
.w{
    background-color: whitesmoke;
color: black;
    font-size: 20px;
margin-left: 550px
}
 
 
 